/* SF Pro Display */
@font-face {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("../fonts/sans-francisco/SF-Pro-Display-Light.otf") format("opentype");
}

@font-face {
    font-family: "SF Pro Display";
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: url("../fonts/sans-francisco/SF-Pro-Display-LightItalic.otf") format("opentype");
}

@font-face {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/sans-francisco/SF-Pro-Display-Regular.otf") format("opentype");
}

@font-face {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("../fonts/sans-francisco/SF-Pro-Display-Medium.otf") format("opentype");
}

@font-face {
    font-family: "SF Pro Display";
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: url("../fonts/sans-francisco/SF-Pro-Display-MediumItalic.otf") format("opentype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
    }
}
